/**
 * @name Biscuit Dark
 * @description Cozy warm colorscheme for the forest dwellers, Dark!
 * @author Tsukki
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 152,159,86;
  --accentcolor2: 196,84,151;
  --linkcolor: 81,120,148;
  --mentioncolor: 227,156,69;
  --textbrightest: 244,230,210;
  --textbrighter: 244,230,210;
  --textbright: 244,230,210;
  --textdark: 182,168,165;
  --textdarker: 151,135,135;
  --textdarkest: 109,95,95;
  --font: IBM Sans Plex;
  --backgroundaccent: 109,95,95;
  --backgroundprimary: 66,57,57;
  --backgroundsecondary: 43,38,38;
  --backgroundsecondaryalt: 43,38,38;
  --backgroundtertiary: 24,21,21;
  --backgroundfloating: 24,21,21;
  --settingsicons: 1;
}

/* Any custom CSS below here */
