/**
 * @name Fullerene
 * @description gw's colorscheme
 * @author Gwynsav
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 63,89,202;
  --accentcolor2: 191,99,167;
  --linkcolor: 30,163,161;
  --mentioncolor: 213,136,72;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: IBM Plex Sans;
  --backgroundaccent: 57,57,57;
  --backgroundprimary: 38,38,38;
  --backgroundsecondary: 22,22,22;
  --backgroundsecondaryalt: 22,22,22;
  --backgroundtertiary: 15,15,15;
  --backgroundfloating: 15,15,15;
  --settingsicons: 1;
}
